:root {
    --color-primery-dark: #31261A;
--color-primery-light: #faf4ea;
--color-brand: #819b57;
    }
    body {
        font-family: 'Poppins', sans-serif;
        color: var(--color-primery-dark);
        font-size: 18px;
        font-weight: 400;
        line-height: 1,5;
    }
    h1 {
        border: 4px solid black;
    }
/*Base */
ul {
    list-style-type: none;
}
/*Button */
.button {
    font-weight: 600;
    color: var(--color-primery-light);
    background-color: var(--color-brand);
    border: 3px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;

}
.button:hover {
    background-color: transparent;
}
.button:focus {
    color: rgba(212, 255, 0, 0.969);
    background-color: aquamarine;
}
.button:active {
    background-color: blueviolet; 
}
/*Link*/
.link {
    color: var(--color-primery-light);
}
.link:hover {
    color: var(--color-brand);
    font-weight: 600;
}
/* Hero section*/
.hero-title {
    font-size: 64px;
color: var(--color-primery-light);
text-align: center;/*left, recht*/
font-weight: 900;
white-space: nowrap;
/*font-style: italic;*/
/*letter-spacing: 4px;
    word-spacing: 20px;
/*text-transform: capitalize;Сучасна Пекарня*/ 
}

.hero-title .accent { 
    color: var(--color-brand);
    }
/*Advantages section */
.advantages-list {
    color: var(--color-primery-light);
background-color: var(--color-brand);
}
.advantages-item {
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    color: var(--color-primery-dark);
font-size: 64px;
font-weight: 900;
line-height: 1,3;
}
.section-title .accent {
   color: var(--color-primery-light)
}
/* Traditions section*/
/*.traditions-text {
    white-space: nowrap;
}*/
.traditions-text .brand {
color: var(--color-brand);
font-weight: 600;
}
.traditions-text .uppercase {
    color: var(--color-brand);
    text-transform: uppercase;
}
/* Chefs section*/
.chef-title {
    font-size: 40px;
font-weight: 600;
}
/* formats-section*/
.format-title {
font-size: 24px;
    font-weight: 600;
}