:root {
    --color-primery-dark: #31261A;
--color-primery-light: #faf4ea;
--color-brand: #819b57;
    }
    body { 
        color: var(--color-primery-dark);
    }
/*Base */
ul {
    list-style-type: none;
}
/*Button */
.button {
    color: var(--color-primery-light);
    background-color: var(--color-brand);
    border: 3px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
}
.button:hover {
    background-color: transparent;
}
.button:focus {
    color: rgba(212, 255, 0, 0.969);
    background-color: aquamarine;
}
.button:active {
    background-color: blueviolet; 
}
/*Link*/
.link {
    color: var(--color-primery-light);
}
.link:hover {
    color: var(--color-brend);
}
/* Hero section*/
.hero-title {
color: var(--color-primery-light);
}

.hero-title.accent {
    color: var(--color-brend);
    }
/*Advantages section */
.advantages-list {
    color: var(--color-primery-light);
background-color: var(--color-brend);
}

.section-title{
    color: var(--color-primery-dark);
}