* {
    box-sizing: border-box;
}
.flex-container {
display: flex
}
.item {
    width: 100px;
height: 100px;
background-color: burlywood;
padding: 10px;
border: 5px solid darkred;
border-radius: 5px;
margin: 0 auto;
}